@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'gi-85w';
  src: url('ja-jp.ttf');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  font-family: 'gi-85w';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
